﻿@model IEnumerable<Muebles.MVC.Models.UserOrderViewModel>

@{
    ViewBag.Title = "Index";
}

<div>
   <h1 style="color: #591d1d">Mis pedidos</h1>
</div>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @if (Model != null) {
foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Ver ítems", "Index", "UserOrderProduct", new { id = item.Id }, new { @style = "color: #591d1d" })
         
    </tr>
}
}

</table>
