﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiCasa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .auto-style5 {
            width: 81px;
            height: 49px;
        }

        .navbar {
            background-color: #591d1d;
            color: white;
            font-weight: bold;
        }

            .navbar:hover {
                background-color: #591d1d;
                color: #E6BCCF;
                font-weight: bold;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>&nbsp;@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Cocina", "Index", "Catalog", new { category = "cocina" }, null)</li>
                    <li>@Html.ActionLink("Salón", "Index", "Catalog", new { category = "salon" }, null)</li>
                    <li>@Html.ActionLink("Dormitorio", "Index", "Catalog", new { category = "dormitorio" }, null)</li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Productos", "Index", "Product")</li>
                        <li>@Html.ActionLink("Pedidos", "Index", "Order")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                        <li>@Html.ActionLink("Ayuda", "HelpAdmin", "Help")</li>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Carrito", "Index", "Cart")</li>
                        <li>@Html.ActionLink("Pedidos", "Index", "UserOrder")</li>
                        <li>@Html.ActionLink("Ayuda", "HelpUser", "Help")</li>
                    }

                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MiCasa Tienda</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
