﻿@model IEnumerable<Muebles.MVC.Models.CartViewModel>

@{
    ViewBag.Title = "Index";
}

<h3 style="color: #591d1d">Carrito de la compra</h3>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number) @Html.ActionLink("-", "EditSumarRestar", "Cart", new { id = item.Id, sumar=false }, null)  @Html.ActionLink("+", "EditSumarRestar", "Cart", new { id = item.Id, sumar=true }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) €
                </td>
                <td>@Html.ActionLink("X", "DeleteItem", "Cart", new { id = item.Id }, null)</td>
            </tr>
        }
    }

</table>

<div><h2>Total: @ViewBag.Total €</h2></div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Seguir comprando", "Index", "Catalog", new {category= "cocina"}, new { @class = "btn btn-default btn-md" }) <span>&nbsp;&nbsp;</span>
        @Html.ActionLink("Confirmar", "Edit", "Address", null, new { @class = "btn btn-success btn-large" })
    </div>
</div>

