﻿@model IEnumerable<Muebles.MVC.Models.CatalogViewModel>

@{
    ViewBag.Title = "Index";
}


<table class="table">

    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <tr>
                <td>
                    <p>
                        <h1>
                            @Html.DisplayFor(modelItem => item.Name)
                        </h1>
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Price) <span>€</span>
                    </p>
                </td>
                <td>
                    @if (!item.Image1.Equals("~/images/"))
                    {
                        <img class="img-rounded" src="@Url.Content(item.Image1)" alt="" width="170" height="170" />}
                </td>
                <td>
                    @if (!item.Image2.Equals("~/images/"))
                    {
                        <img class="img-rounded" src="@Url.Content(item.Image2)" alt="" width="170" height="170" />
                    }
                </td>
                <td>
                    @if (!item.Image3.Equals("~/images/"))
                    {
                        <img class="img-rounded" src="@Url.Content(item.Image3)" alt="" width="170" height="170" />}
                </td>
                <td>
                    <p>
                        <br /><br /><br />
                        @Html.ActionLink("Comprar", "Edit", "Catalog", new { id = item.Id, category = item.Category }, new { @class = "btn btn-md btn-success" })
                </td>
            </tr>
        }
    }
</table>



<div class="form-group">
    <div align="center">

        @if (TempData["Success"] != null)
            {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }

        @if (TempData["Empty"] != null)
            {
            <p class="alert alert-warning" id="warningMessage">@TempData["Empty"]</p>
        }

        @Html.ActionLink("Finalizar la compra", "ToCart", "Catalog", new { @class = "btn btn-success btn-large" })
    </div>
</div>
