﻿@model Muebles.MVC.Models.ProductViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="page-header"><h2 style="color: #591d1d">Eliminar producto</h2></div>

<h4>Está seguro de que desea eliminar este producto?</h4>
<div>

 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver", "Index", null, null, new { @class = "btn btn-default" }) <span>&nbsp;&nbsp;</span>
            <input type="submit" value="Eliminar" class="btn btn-success" /> 
            
        </div>
    }
</div>
