﻿@model IEnumerable<Muebles.MVC.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"  type="text/javascript">
$(document).ready(function() {
    $('#tabla').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>

<h2 style="color: #591d1d">Lista de productos</h2>

<p>
    @Html.ActionLink("Añadir producto", "Create", null, null, new { @style = "color: #591d1d" })
</p>
<table class="table table-responsive table-striped" id="tabla">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @style = "color: #591d1d" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @style = "color: #591d1d" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @style = "color: #591d1d" })
                </td>
            </tr>
        }
    }

</table>
