﻿@model IEnumerable<Muebles.MVC.Models.CartViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="alert alert-success fade in alert-dismissible text-center" style="margin-top:20px">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>¡Felicidades!</strong> La compra se ha realizado correctamente.
</div>

<div><h2 style="color: #591d1d">Resumen del pedido</h2></div>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) €
                </td>
            </tr>
        }
    }

</table>


<div><h2>Total: @ViewBag.Total €</h2></div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Volver a la página de inicio", "Index", "Home", null, new { @class = "btn btn-default btn-large" })
    </div>
</div>
