﻿@model Muebles.MVC.Models.OrderViewModel

@{
    ViewBag.Title = "Create";
}

<div style="margin-top:10px;margin-bottom:10px">
    <div class="page-header"><h1 style="color: #591d1d">Nuevo pedido</h1></div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Client, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Client, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Volver", "Index", null, null, new { @class = "btn btn-default" })<span>&nbsp;&nbsp;</span>
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>

    </div>
}

