﻿@model Muebles.MVC.Models.OrderViewModel

@{
    ViewBag.Title = "Details";
}

<div style="margin-top:10px;margin-bottom:10px">
    <div class="page-header"><h1 style="color: #591d1d">Detalles del pedido</h1></div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Volver", "Index", null, null, new { @class = "btn btn-default" }) <span>&nbsp;&nbsp;</span>
            @Html.ActionLink("Ver items", "Index", "OrderProduct", new { idPedido = Model.Id }, new { @class = "btn btn-success" })
        </div>
        </div>


