﻿@model IEnumerable<Muebles.MVC.Models.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<div style="margin-top:10px;margin-bottom:20px">
   <h1 style="color: #591d1d">Pedidos</h1>
</div>

<p>
    @Html.ActionLink("Crear nuevo pedido", "Create", null, null, new { @style = "color: #591d1d" })
</p>
<div align="center">

    @if (TempData["Success"] != null)
            {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }
</div>

    <table class="table table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @style = "color: #591d1d" }) |
                        @Html.ActionLink("Eliminar", "DeleteItem", new { id = item.Id }, new { @style = "color: #591d1d" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @style = "color: #591d1d" }) |
                        @Html.ActionLink("Ítems", "Index", "OrderProduct", new { idPedido = item.Id }, new { @style = "color: #591d1d" }) |
                        @Html.ActionLink("Añadir ítems", "Create", "OrderProduct", new { idPedido = item.Id }, new { @style = "color: #591d1d" })
                    </td>
                </tr>
            }
        }

    </table>
