﻿@{
    ViewBag.Title = "Home Page";
}

<div style="color: #591d1d" class="container">
    <div class="jumbotron" style="margin-top:30px">
                <h1>MiCasa</h1>
        <p class="lead">Tienda online de artículos para el hogar</p>
    </div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/salon.jpg" class="responsive" alt="Salón">
                <div class="carousel-caption">
                    <h3>Salón</h3>
                </div>
            </div>

            <div class="item">
                <img src="images/cocina.jpg" class="responsive" alt="Cocina">
                <div class="carousel-caption">
                    <h3>Cocina</h3>
                </div>
            </div>

            <div class="item">
                <img src="images/dormitorio.jpg" class="responsive" alt="Dormitorio">
                <div class="carousel-caption">
                    <h3>Dormitorio</h3>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><br />


    <div class="text-center">
        <h3 id="micasa">MiCasa</h3>
        <p style="color: #591d1d"><em>¡Mi dulce hogar!</em></p>
        <p>
            MiCasa es una empresa con sede en Barcelona que se dedica a la venta minorista de muebles y otros objetos para el hogar.
            <br />Fue fundada en el año 2013 por Javier Ruiz Garrós. Dispone de 8 tiendas físicas por toda España.
        </p>
        <p><i>MiCasa se propone satisfacer a sus clientes como objetivo principal. </i></p>
        <p>
            Para ello escuchamos con atención sus sugerencias para conocer sus necesidades y proponerles la mejor solución posible.<br />
            Nuestra intención es convertir el hogar de nuestros clientes en un lugar agradable, cálido, acogedor, cómodo y relajante.<br />
            Nuestros empleados se esfuerzan para ofrecer a los clientes un servicio de calidad, dinámico y eficiente.<br />
            En MiCasa intentamos aprender cada día y establecen nuevas prácticas que nos ayudan a mejorar y ofrecer un mejor servicio.
        </p>
    </div>
</div>

<style>
    .text-center {
        font: 400 15px/1.8 Lato, sans-serif;
        color: #777;
    }

    #micasa {
        margin: 10px 0 30px 0;
        letter-spacing: 10px;
        font-size: 20px;
        color: #591d1d;
    }
</style>