﻿@model IEnumerable<Muebles.MVC.Models.OrderProductViewModel>

@{
    ViewBag.Title = "Index";
}

<div style="margin-top:10px;margin-bottom:20px">
    <h1 style="color: #591d1d">Pedido</h1>

    @if (TempData["Success"] != null)
            {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }
</div>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @style = "color: #591d1d" }) |
                    @Html.ActionLink("Eliminar", "DeleteItem", new { id = item.Id }, new { @style = "color: #591d1d" })

                </td>
            </tr>
        }
    }


</table>

<p>
    @Html.ActionLink("Volver", "Index", "Order", null, new { @class = "btn btn-md btn-default" })
</p>

