﻿@model Muebles.MVC.Models.PayViewModel

@{
    ViewBag.Title = "Create";
}


<div class="page-header"><h2 style="color: #591d1d">Pago</h2></div>

@using (Html.BeginForm("Create", "Pay", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()



                <div class="container">
        <div class="well">Introduzca los datos de su tarjeta de crédito</div>

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CCV, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CCV, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CCV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Expiration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Expiration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Expiration, "", new { @class = "text-danger" })
                </div>
            </div>

            <h3>Pagar con</h3>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                   
                    <input type="submit" name="creditCard" value="Tarjeta de crédito" class="btn btn-success" /><span>&nbsp;&nbsp;</span>
                    <input type="submit" name="debitCard" value="Tarjeta de débito" class="btn btn-warning" /><span>&nbsp;&nbsp;</span>
                    <input type="submit" name="payPal" value="PayPal" class="btn btn-info" /><span>&nbsp;&nbsp;</span>


                    @Html.ActionLink("Volver", "Edit", "Pay", new { @class = "btn btn-default btn-md" }) 
                </div>
            </div>

        </div>
    </div>
 

    <div class="form-group">
        <div align="center">
            @if (TempData["Fail"] != null)
            {
                <p class="alert alert-danger" id="Fail">@TempData["Fail"]</p>
            }
        </div>
    </div>

}

